name: CI model to dockerhub

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  retraining_model:
    runs-on: ubuntu-20.04
    container: docker://dvcorg/cml:latest
    env:
      repo_token: ${{ secrets.GITHUBTOKEN }}
    steps:
        
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.12

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install requirements
        run:
          pip3 install -r requirements.txt

      - name: Execute the training model
        run: |
          python3 main.py


  build_docker_image:
    needs: retraining_model
    runs-on: ubuntu-20.04

    steps:
      - name: Check the repo
        uses: actions/checkout@v2

      - name: Login to dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build docker image
        run: docker build -t '${{ secrets.DOCKER_USERNAME }}'/diabetes_api:v2 .

      - name: Docker push to Dockerhub
        run: docker push '${{ secrets.DOCKER_USERNAME }}'/diabetes_api:v2 .

      - name: Login into the server
        run: echo '${{ secrets.DOCKER_PASSWORD }}' | docker login -u '${{ secrets.DOCKER_USERNAME }}' --password-stdin

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            docker login -u '${{ secrets.DOCKER_USERNAME }}' -p '${{ secrets.DOCKER_PASSWORD }}'
            if docker ps --all | grep diabetes_api; then
              docker stop diabetes_api
              docker rm diabetes_api
            fi
            
            docker pull ${{ secrets.DOCKER_USERNAME }}/diabetes_api:v2
            docker run -d --name diabetes_api -p 8000:8000 ${{ secrets.DOCKER_USERNAME }}/diabetes_api:v2
